<footer class="overflow-hidden">
    <div class="container p-0 p-lg-4">
        <div class="row text-center">
            <div class="d-block d-md-none p-0">
                <h5 class="fw-bold">執行<span>單位</span></h5>
            </div>
            <div class="col-12 col-xxl-6">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2 d-none d-md-block">
                        <h5>執行<span>單位</span></h5>
                    </div>
                    <div class="col-6 col-md-3 footer-card">
                        <a href="#"><img src="../assets/images/f_um.png" alt="制服地圖" class="img-fluid"></a>
                    </div>
                    <div class="col-6 col-md-3 footer-card">
                        <a href="#"><img src="../assets/images/f_setn.png" alt="三立新聞網" class="img-fluid"></a>
                    </div>
                    <div class="col-6 col-md-3 footer-card">
                        <a href="#"><img src="../assets/images/f_st.png" alt="三立藝能" class="img-fluid"></a>
                    </div>
                    <!-- 隱藏第四個 -->
                    <div class="col-6 col-md-3 footer-card  d-block d-md-none">
                        <a href="#"><img src="../assets/images/f_st.png" alt="三立藝能" class="img-fluid"
                                style="visibility: hidden;"></a>
                    </div>
                </div>
            </div>
            <div class="d-block d-md-none p-0">
                <h5 class="fw-bold">執行<span>單位</span></h5>
            </div>
            <div class="col-12 col-xxl-6">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2 d-none d-md-block">
                        <h5>特別<span>感謝</span></h5>
                    </div>
                    <div class="col-6 col-md-3 footer-card">
                        <a href="#"><img src="../assets/images/f_ga.png" alt="GHAS" class="img-fluid"></a>
                    </div>
                    <div class="col-6 col-md-3 footer-card">
                        <a href="#"><img src="../assets/images/f_swanky.png" alt="史旺基" class="img-fluid"></a>
                    </div>
                    <div class="col-6 col-md-3 footer-card">
                        <a href="#"><img src="../assets/images/f_aken.png" alt="f_aken" class="img-fluid"
                                style="width: 100px; height: 100px;"></a>
                    </div>
                    <!-- 隱藏第四個 -->
                    <div class="col-6 col-md-3 footer-card d-block d-md-none">
                        <a href="#"><img src="../assets/images/f_st.png" alt="三立藝能" class="img-fluid"
                                style="visibility: hidden;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="footer-bottom text-white text-center">&copy; 2016 SANLIH E-TELEVISION</p>
</footer>