<header class="position-reatlive">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <!-- 漢堡選單 -->
                <button
                    class="d-flex d-sm-none flex-column align-items-center justify-content-center border-0 position-absolute">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </button>


                <!-- FB、home icon 連結 -->
                <div class="header-icon-wrapper">
                    <!-- 回首頁 icon -->
                    <a href="#" class="d-flex align-items-center justify-content-center d-none d-lg-block">
                        <i class="bi bi-house"></i>
                    </a><br>
                    <!-- FB icon -->
                    <a href="#" class="header-icon d-none d-lg-block"><img src="../assets/images/m_fb.png" alt="fb"></a>
                </div>
                <a href="#" class="logo_top">
                    <h1>
                        <img src="../assets/images/logo_top.png" alt="Logo" class="img-fluid">
                    </h1>
                </a>
                <div class="m-3">
                    <img src="../assets/images/title.png" alt="Title" class="img-fluid">
                </div>
                <nav class="d-none d-lg-block">
                    <ul class="list-unstyled d-flex justify-content-center align-items-center">
                        <li><a href="#" class="fw-bold">活動辦法</a></li>
                        <li><a href="#" class="fw-bold">全台海選</a></li>
                        <li><a href="#" class="fw-bold">TOP12決賽</a></li>
                        <li><a href="#" class="fw-bold">制服辣秘辛</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>